<div class="basketWrapper">
  <h2 class="basketTitle">Your Basket</h2>
  <h3 class="totalPrice">Total price: {{tripsService.getTotalPrice()}}$</h3>
  <hr class="horLine">
  <div *ngIf="tripsService.getNonEmptyTripsList().length === 0 then empty else nonEmpty"></div>
  <ng-template #empty>
    <p class="emptyNotification">Your basket is empty</p>
  </ng-template>
  <ng-template #nonEmpty>
    <div class="tripSummary" *ngFor="let trip of tripsService.getNonEmptyTripsList() last as last" [ngStyle]="{'borderBottom': (last? '1px solid darkslategrey' : 'none')}">
      <img class="thumbnail" [src]=trip.imgURL [alt]=trip.name>
      <p>{{trip.name}} ({{trip.price}}$)</p>
      <p>{{trip.bookedPlaces}} places</p>
      <p>{{tripsService.getProductPrice(trip)}}$</p>
    </div>
  </ng-template>
</div>
